<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-container style="overflow-y: scroll" grid-list-xs>
          <v-row>
            <v-col cols="12" md="4" v-for="item of products" :key="item.id">
              <v-card height="180px">
                <v-row justify="center">
                  <v-card-title class="text-h5 pl-12 pt-12 pr-12 pb-8">{{
                    item.name
                  }}</v-card-title>
                </v-row>
                <v-row justify="center">
                  {{ item.price }}
                </v-row>
                <v-row justify="center">
                  <v-btn>
                    <span class="subheading">add</span>
                  </v-btn>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col>
        <v-data-table></v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>
