<script setup lang="ts">
import { ref } from "vue";
const img = ref("../../feeling_imgs/angry.png");
const text = ref("Angry");
const isCol = ref(false);
const actPain = ref("");
const actCute = ref("");
const actExcited = ref("");
const actShocked = ref("");
const actAngry = ref("");
const actSmile = ref("");

function Angry() {
  actCute.value = "";
  actExcited.value = "";
  actPain.value = "";
  actShocked.value = "";
  actSmile.value = "";
  return;
}
function Cute() {
  actCute.value = "";
  actExcited.value = "";
  actPain.value = "";
  actShocked.value = "";
  actSmile.value = "";
  return;
}
function Excited() {
  actCute.value = "";
  actExcited.value = "";
  actPain.value = "";
  actShocked.value = "";
  actSmile.value = "";
  return;
}

function Pain() {
  actCute.value = "";
  actExcited.value = "";
  actPain.value = "";
  actShocked.value = "";
  actSmile.value = "";
  return;
}

function Shocked() {
  actCute.value = "";
  actExcited.value = "";
  actPain.value = "";
  actShocked.value = "";
  actSmile.value = "";
  return;
}

function Smile() {
  actCute.value = "";
  actExcited.value = "";
  actPain.value = "";
  actShocked.value = "";
  actSmile.value = "";
  return;
}
function changeAngry() {
  if (!isCol.value) {
    actAngry.value = "yellow";
  }
  img.value = "../../feeling_imgs/angry.png";
  text.value = "Angry";
  Angry();
  return;
}

function changeCute() {
  if (!isCol.value) {
    actCute.value = "yellow";
  }
  img.value = "../../feeling_imgs/cute.png";
  text.value = "Cute";
  Cute();
  return;
}

function changeExcited() {
  if (!isCol.value) {
    actExcited.value = "yellow";
  }
  img.value = "../../feeling_imgs/excited.png";
  text.value = "Excited";
  Excited();
  return;
}

function changePain() {
  if (!isCol.value) {
    actPain.value = "yellow";
  }
  img.value = "../../feeling_imgs/pain.png";
  text.value = "Pain";
  Pain();
  return;
}

function changeSmile() {
  if (!isCol.value) {
    actSmile.value = "yellow";
  }
  img.value = "../../feeling_imgs/smile.png";
  text.value = "Smile";
  Smile();
  return;
}

function changeShocked() {
  if (!isCol.value) {
    actShocked.value = "yellow";
  }
  img.value = "../../feeling_imgs/shocked.png";
  text.value = "Shocked";
  Shocked();
  return;
}
</script>

<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="6">
          <v-container>
            <v-img
              class="justify-center"
              style="height: 550px; width: 550px"
              :src="img"
            ></v-img>
          </v-container>
        </v-col>
        <v-col cols="6">
          <v-row class="mt-5" justify="center">
            <div style="font-size: 40px">{{ text }}</div>
          </v-row>
          <v-row class="mt-5" justify="center">
            <v-btn class="btn" @click="changeAngry" :color="actAngry"
              >ANGRY</v-btn
            > </v-row
          ><br />
          <v-row class="mt-2" justify="center">
            <v-btn class="btn" @click="changeCute()" :color="actCute"
              >CUTE</v-btn
            >
          </v-row>
          <v-row class="mt-2" justify="center">
            <v-btn class="btn" @click="changeExcited()" :color="actExcited"
              >EXCITED</v-btn
            >
          </v-row>
          <v-row class="mt-2" justify="center">
            <v-btn class="btn" @click="changePain()" :color="actPain"
              >PEIN</v-btn
            >
          </v-row>
          <v-row class="mt-2" justify="center">
            <v-btn class="btn" @click="changeShocked()" :color="actShocked"
              >SHOCKED</v-btn
            >
          </v-row>
          <v-row class="mt-2" justify="center">
            <v-btn class="btn" @click="changeSmile()" :color="actSmile"
              >SMILE</v-btn
            >
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.btn {
  width: 20pc;
  height: 3pc;
}
</style>
