<script lang="ts" setup>
import { ref } from "vue";
const number = ref("0");
</script>

<template>
  <v-container
    ><v-card>
      <v-text-field
        label="Please input number"
        filled
        v-model="number"
        :rules="[() => !!number || 'Number is not empty']"
      ></v-text-field>
      <v-col
        style="height: 900px; overflow-y: scroll; overflow-x: hidden"
        cols="12"
      >
        <v-row>
          <v-col
            v-for="num in parseInt(number)"
            :key="num"
            cols="1"
            class="mb-16"
            style="font-size: 16pt; font-weight: bold"
          >
            {{ num }}
          </v-col>
        </v-row>
      </v-col>
    </v-card>
  </v-container>
</template>
