<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const useCounter = useCounterStore();
</script>
<template>
  <div>Second Component</div>
  <div>{{ useCounter.doubleCount }}</div>
  <br />
  <v-btn @click="useCounter.decrement">DECREASE</v-btn>
</template>
